* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $first-font;
}

section {
  padding: 10rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
label {
  font-weight: 300;
}

ul {
  list-style-type: none;
}