.-animation {
  animation: up-down 2s infinite alternate-reverse;
}

@keyframes up-down {
  to {
    transform: translateY(0);
  }

  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

.-textRight {
  text-align: right;
}

.-textLeft {
  text-align: left;
}

.-textCenter {
  text-align: center;
}

.-whiteText {
  color: var(--white-color);
}

.-redText {
  color: var(--active-color);
}

.-flexNoWrap {
  flex-flow: row nowrap !important;
}

.-fa {
  &-2x {
    font-size: 2em;
  }

  &-3x {
    font-size: 3em;
  }
}