.-animation {
  animation: up-down 2s infinite alternate-reverse;
}

@keyframes up-down {
  to {
    top: 0;
  }

  from {
    top: 30px;
  }

  to {
    top: 0;
  }
}

.-textRight {
  text-align: right;
}

.-textLeft {
  text-align: left;
}

.-textCenter {
  text-align: center;
}

.-whiteText {
  color: var(--white-color);
}

.-flexNoWrap {
  flex-flow: row nowrap !important;
}