@import "./../variables/initial";
@import "./../mixins/initial";
@import "./../components/initial";
@import "./utilities";
@import "./reset.scss";

// Utilities
.m-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  width: 100%;
}

.m-row {
  width: 100%;
  @include flex-display(flex, center, space-between, row wrap);
}

// Header
.o-header {
  position: absolute;
  z-index: 2;
  height: 155px;
  width: 1200px;
  left: 50%;
  transform: translate(-50%, 20px);
}

.m-navigation {

  &List {
    @include flex-display(flex, center, space-between);
  }

  &Item {
    margin-left: 45px;
    font-weight: 500;

    & a {
      @include transition-out();

      &.-active {
        color: var(--active-color);
      }

      &:hover {
        @include transition-in();
        color: var(--active-color);
      }
    }
  }
}

// Showcase

.o-showcase {
  position: relative;
  background-image: url("./../assets/img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .m-content {
    text-align: right;
    padding-top: 200px;
    @include flex-display(flex, flex-end, flex-end, column);
  }

  &__desc {
    margin-top: $xxl;
    margin-bottom: $large;
    font-family: $first-font;
    font-weight: 100;
    line-height: 32px;
    width: 470px;
  }
}

// Demos

.o-demo {
  text-align: center;
  @include flex-display(flex, center, center, column);

  background-image: url("./../assets/img/demo-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 4%;

  &__title {
    font-family: $second-font;
    font-size: 60px;
    margin-bottom: $xxl;

    & span {
      color: var(--active-color);
    }
  }
}

// Rich

.o-rich {
  background-color: var(--black-color);
}

// Recipe

.o-recipe {
  padding-bottom: $xlarge;
  .swiper-slide {
    margin-right: 0 !important;
    width: 430px !important;
  }
}

// Reservation

.o-reservation {
  position: relative;
  height: 100%;
  margin-top: 40px;
}

.m-reservation {
  &Info {
    flex: 1 0 50%;
    @include flex-display(flex, flex-start, center, column nowrap);
  }

  &List {
    @include flex-display(flex, center, flex-start, row wrap);
    margin-top: $xxl;

    & a.a-btn {
      margin: 5px;
      flex: 0 0 45%;
    }
  }
}

.a-video {
  flex: calc(50% - 30px);
  margin-left: $xxl;
  position: relative;

  & .-videoCover {
    object-fit: cover;
    width: 100%;
    box-shadow: -10px 10px 30px lightgray;
  }

  & .-play{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(#000, .7);
    border: 5px solid gray;
    border-radius: 50%;
    font-size: 20px;
  }
}

.a-videoOverlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 3;
  visibility: hidden;
  background-color: rgba(#000, .8);

  @include flex-display(flex, center, flex-start, column nowrap);

  & > label.-closeBtn {
    display: block;
    margin-top: 40px;
    margin-right: $large;
    font-size: 30px;
    cursor: pointer;
    align-self: flex-end;
  }

  & video {
    margin-top: 100px;
    max-width: 800px;
    object-fit: cover;
  }
}

.-playBtn {
  display: none;

  &:checked + .a-videoOverlay {
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
  }
}

// Reservation Extras

.o-extraFeature {

  &List {
    display: flex;
    margin-top: $xlarge;
  }

  &__item {
    flex: 1;
    padding: 40px $xxl;

    &:nth-child(2n + 1) {
      background-color: var(--extra-light-bg);
    }

    &:nth-child(2n) {
      background-color: var(--extra-dark-bg);
    }
  }

  &__title {
    margin-top: $lg;
    font-family: $second-font;
    font-size: 21px;
    font-weight: 700;
  }

  &__desc {
    margin-top: $lg;
    font-family: $first-font;
    font-weight: 300;
    font-size: 14px;
  }
}

// Counter

.o-counter {
  background-color: var(--black-color);
  color: var(--white-color);
  @include flex-display(flex, center, center);

  .m-counter {
    &List {
      margin-top: $xxl;
      @include flex-display(flex, center, space-between);
    }

    &Item {
      @include flex-display(flex, center, center, column nowrap);
    }

    &__number {
      font-family: $second-font;
      font-weight: 700;
      font-size: 54px;
    }

    &__title {
      margin-top: $xxl;
      font-family: $first-font;
      font-weight: 500;
      color: var(--counter-color);
    }

    &__img {
      margin-top: $xlarge;
    }
  }
}

// Feature

.o-feature {
  padding-bottom: 100px;

  .m-feature {
    &List {
      @include flex-display(flex, center, flex-start, row wrap);
    }

    &Item {
      @include flex-display(flex, center, center, column nowrap);
      border: 1px solid var(--feature-border-color);
      padding: $lg 25px;
      margin-bottom: $xxl;
      margin-right: 10px;
      margin-left: 10px;
      flex: 0 0 23%;
      cursor: pointer;
      @include transition-out();

      &:hover {
        @include transition-in();
        box-shadow: 0 $sm $xxl rgba(0, 0, 0, 0.1);
      }
    }

    &__title {
      margin-top: $sm;
      font-weight: 500;
    }
  }
}

// Footer

.o-footer {
  padding-top: 85px;
  padding-bottom: 100px;

  background-image: url("../assets/img/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &Content {
    @include flex-display(flex, center, center, column nowrap);
  }
}

























