.a-btn {
  padding: $sm $xxl;
  background-color: var(--btn-color);
  color: var(--white-color);
  border-radius: $xxl;
  font-size: 14px;
  font-weight: 500;
  @include transition-out();

  &.-resarvation {
    border-radius: 0;
    background-color: var(--black-color);
    color: var(--white-color);
  }

  &.-border {
    border: 2px solid var(--white-color);

    &:hover {
      background-color: var(--white-color);
      color: var(--active-color);
    }
  }

  &.-blackBg {
    background-color: var(--black-color);
  }

  &:hover {
    @include transition-in();
    background-color: var(--black-color);
  }
}