.a-sectionTitle {
  text-align: center;
  font-family: $second-font;
  font-weight: 700;
  font-size: 60px;
  margin-top: $xxl;
  margin-bottom: $xxl;

  & span {
    color: var(--active-color);
  }

  @include tablet() {
    font-size: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile() {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}