.a-tomato {
  position: absolute;
  z-index: 2;

  &.-leftTop {
    left: 0;
    top: 10px;
  }

  &.-bottomRight {
    right: 0;
    bottom: 135px;
  }


  @include mobile() {
    display: none;
  }
}